.main_section{
    background-image: url("../img/first__bg.png");
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 870px;
    display: flex;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.slider{
    display: flex;
    margin: 0 0 0 300px;
    align-items: center;
    animation: fadeIn 2s;
    transition: opacity 2s ease-in-out;
}


.slider_text{
    width: 854px;
    height: 497px;
    
}

#main_text{
    font-weight: 800;
    font-size: 80px;
    line-height: 120%;
    text-transform: capitalize;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
    padding-bottom: 20px;
}

#main_p{
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
    padding-bottom: 70px;
}

#learn_more_btn{
    border-radius: 5px;
    width: 200px;
    height: 65px;
    background: #f23849;
    border: none;
}

.text_btn{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
}

#learn_more_btn:hover{
    transition: .5s;
    background: #222224;
}

.box{
    border-radius: 12px;
    width: 158px;
    height: 175px;
    
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.35);

    margin-left: 300px;
    position: relative;
    top: -142px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dots {
    position: relative;
    top: -5%;
    left: -5%;

    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.dot{
    padding-bottom: 10px;
}

#main_img{
    border-radius: 128px;
    width: 70px;
    height: 70px;
}

#trainer-name{
    padding-top: 26px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #161617;
    font-family: "Poppins", sans-serif;
}

#course{
    font-weight: 300;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

@media (max-width: 400px){
    .main_section{
        height: 300px;
        display: flex;
        align-items: center;
        background-image: url("../img_mobile/unsplash_KaxVB5xh4Nw\ \(2\).png");
        background-position: center;
    }

    .slider{
        margin: 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider_text{
        width: calc(100% - 60px);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #main_text{
        font-size: 28px;
        padding-bottom: 10px;
    }

    #main_p{
        font-size: 12px;
        padding-bottom: 20px;
    }

    #learn_more_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 55px;
    }

    .text_btn{
        font-size: 16px;
    }

    .box{
        width: 70px;
        height: 100px;
        position: absolute;
        top: 134px;
        right: 16px;
        margin: 0;
        display: none;
        
    }

    #main_img{
        width: 30px;
        height: 30px;
        
    }

    #trainer-name{
        padding-top: 10px;
        font-size: 6px;
        
    }

    #course{
        font-size: 5px;
        
    }

    .dots{
        display: none;
        
    }
}