.fourth_list{
    width: 100%;
    height: 500px;

    background-image: url("../img/bg_four.png");

    display: flex;
    align-items: center;
    justify-content: center;
}

.four{
    width: 1322px;
    height: 313px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.join{
    
    
    background-color: #F23849;

    width: 400px;
    height: 313px;

    border-radius: 10px;
}

.effects{
    margin-left: 132px;
}

.join {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_join{
    width: 315px;
    height: 120px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
    padding-bottom: 40px;
}

.btn_join{
    border-radius: 10px;
    width: 160px;
    height: 55px;

    background: #fff;

    border: none;
}

.learn{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #f23849;
    font-family: "Ubuntu Sans", sans-serif;
}

.btn_join:hover{
    transition: .5s;
    background: #222224;
}

.effects_mobile{
    display: none;
}

@media screen and (max-width: 400px) {
    .fourth_list{
        height: 570px;
        padding: 20px;
    }

    .four{
        width: 100%;
        flex-direction: column;
    }

    .join{
        width: 242px;
        height: 218px;
        padding: 20px;
    }

    .effects{
        display: none;
    }

    .effects_mobile{
        display: block;
        margin-bottom: 46px;
    }

    .text_join{
        width: 100%;
        font-size: 30px;
    }

    .btn_join{
        width: 160px;
    height: 55px;
    }
}