*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px; /* Adjust scrollbar track color */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Adjust scrollbar thumb color */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Adjust scrollbar thumb color when hovered */
}

.header{
    width: 100%;
    height: 90px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_container{
    width: 1321px;
    height: 50px;
    display: flex;
    align-items: center;
   
}

.bar_menu{
    /* width: 903px; */
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex; 
    margin-left: 318px;
    justify-content: space-between;

    width: 673px;
    height: 21px;

    gap: 40px;
    
}

.menu_item{
    list-style: none;
}

.menu_link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
}

.menu_link:hover{
    color: #f23849;
}

.btn_nav{
    margin-left: 70px;

    border: none;
    border-radius: 5px;
    width: 160px;
    height: 45px;

    background: #f23849;
}

.btn_text{
    text-decoration: none;

    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
}

.btn_nav:hover{
    transition: .5s;
    background: #222224;
}




.header__burger-btn{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 2;
    background-color: #000;
}

.header__burger-btn span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #f23849;
    transition: transform 0.5s, opacity 0.5s;
}

.header__burger-btn span:nth-child(1){
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3){
    transform: translateY(10px);
}

.header.open .header__burger-btn span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2){
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}

@media (max-width: 393px){

    .header{
        width: 100%;
        height: 90px;
        background: #000;
        transition: left 0.5s ease;
        
    }

    
    .nav_container{
        width: 393px;
        height: 50px;
        margin: 0 30px;
    }

    .logo_nav img{
        width: 80px;
        height: 40px;
        margin-left: 226px;
    }

    .header__burger-btn{
        display: flex;
    }

    .btn_nav{
        display: none;
    }

    .bar_menu{
        position: absolute;
        left: -600px;
        top: 0;
        background-color: #28282A;
        padding: 70px 20px 20px 25px;
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-self: center;
        margin-left: 300px;
        transition: left 0.5s ease;
    }

    .menu{
        display: block;
        height: auto;
        width: auto;
        margin-left: 0;
    }

    .menu_link{
        display: block;
        padding: 10px 0;
    }

    .header.open .bar_menu{
        left: -300px;
        
    }
}