.second_list{
    background-image: url("../img/second_bg.png");
    width: 100%;
    height: 437px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1321px;
    height: 230px;
    display: flex;
    align-items: center;
}

.card__container{
    width: 827px;
    height: 212px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card{
    width: 246px;
    height: 212px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 22.5px; 
}

.img_card{
    padding-bottom: 30px;
}

.title_card{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
    padding-bottom: 20px;
}

.text_card{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #ededed;
    font-family: "Ubuntu Sans", sans-serif;
}

hr {
    width: 1px;
    height: 271.5px;
    border: 1px solid #3d3d40;
    margin-left: 45px;
    margin-right: 21px;
}

.text_block{
    width: 427px;
    height: 224px;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;

    margin-left: 20px;
}

.f_text{
    font-weight: 700;
    font-size: 46px;
    line-height: 136%;
    text-transform: capitalize;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
    padding-bottom: 20px;
}

.s_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
}

@media (max-width: 393px) {
    .second_list {
        height: 1000px;
        width: 100%;
        background-color: #222224;
        background-image: none;
        display: flex;
        align-items: normal;
    }
    
    .container, .card__container, .text_block {
        width: 100%;
        flex-direction: column;
        display: flex;
    }

    .card__container {
        order: 1;
    }

    .text_block {
        order: 0;
    }

    .card {
        width: 90%; /* Adjust as needed */
        margin: 20px auto; /* Adjust as needed */
    }

    hr {
        display: none;
    }

    .text_block {
        margin-top: 30px;
        margin-left: 0;
        text-align: center;
        margin-bottom: 30px;
    }

}