.thirdth_list{
    width: 100%;
    height: 940px;

    background: #28282a;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    
}

.container_about{
    width: 1385px;
    height: 667px;
    display: flex;
    padding-left: 100px;

    
}

.about_info{
    width: 523px;
    height: 667px;
}

.about_title{
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
    padding-bottom: 20px;
}

.about_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
}

.up{
    width: 512px;
    padding-bottom: 72px;
}

.down{
    width: 523px;
    height: 259px;

    border: 3px solid transparent;
    border-image: linear-gradient(#F23849 , #28282A);
    -moz-border-image: -moz-linear-gradient(#F23849 , #28282A);
    -webkit-border-image: -webkit-linear-gradient(#F23849 , #28282A);
    border-image-slice: 1;

    margin-top: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bottom-elements {
    width: 403px;
    height: 199px;

    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;

    text-align: center;

    margin-left: 30px;
}

.down_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    color: #f23849;
    opacity: 0.8;
    font-family: "Ubuntu Sans", sans-serif;

    padding-top: 20px;
    padding-bottom: 25px;
}
#one{
    border-radius: 5px 5px 0 0;
    width: 70px;
    height: 121px;
    background: rgba(141, 185, 140, 0.2);
    

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;

    
}

#two{
    border-radius: 5px 5px 0 0;
    width: 70px;
    height: 162px;
    background: rgba(110, 98, 215, 0.2);
    

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
}

#three{
    border-radius: 5px 5px 0 0;
    width: 70px;
    height: 133px;
    background: rgba(190, 111, 239, 0.2);
    

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
}

#four{
    border-radius: 5px 5px 0 0;
    width: 70px;
    height: 145px;
    background: rgba(243, 155, 69, 0.2);
    margin-right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #fff;
    font-family: "Ubuntu Sans", sans-serif;
}

.one{
    margin-right: 41px;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
}

.jan{
    padding-top: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    text-align: center;
    color: #969696;
    font-family: 'Ubuntu Sans', sans-serif;
}

.about_img{
    margin-left: 135px;
    display: flex;
    align-items: end;
}

.plus{
    position: relative;
    right: 125px;
    margin-bottom: 15px;

    border-radius: 100%;
    background-color: #f23849;

    border: none;
    width: 45px;
    height: 45px;

    display: flex;
    justify-content: center;
}

.dobavit{
    text-decoration: none;
    font-weight: 400;
    font-size: 36px;
    color: #e5e5e5;
    font-family: 'Ubuntu Sans', sans-serif;
}

.plus:hover{
    transition: .5s;
    background: #222224;
}

.about{
    font-weight: 700;
    font-size: 204px;
    text-align: center;
    font-family: "Ubuntu Sans", sans-serif;

    transform: rotate(-90deg);
    opacity: 0.1;

    color: transparent;
    -webkit-text-stroke: 1px white;

    position: absolute;
    left: -150px; 

}

@media screen and (max-width: 393px) {
    .thirdth_list{
        height: auto;
        flex-direction: column;
    }

    .container_about{
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-left: 0;
    }

    .about_info{
        width: 100%;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        text-align: center;
        flex-direction: column;
    }

    .about_title{
        font-size: 20px;
    }

    .up{
        width: 100%;
        padding-bottom: 20px;
        margin-top: 40px;
    }

    .down{
        width: 100%;
        height: auto;
        border: none;
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottom-elements {
        height: auto;
        gap: 15px;
        margin-left: 0;
    }

    .one{
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about_img{
        margin-left: 0;
    }

    .plus{
        right: 70px;
        width: 45px;
        height: 45px;
    }

    .about{
        font-size: 50px;
        left: 0;
        display: none;
    }

    .images_about img{
        width: 393px;
        height: 400px;
    }
}